@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to web application of Udevs IT-Outsourcing company</h1>
    <p>You can find here information about company's employees and departments</p>
</div>
